@{
    ViewData["Title"] = "Malik Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World! This is my first page</h1>
    <h1 class="display-4">This is master branch</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
